body {
    background: url(../img/fond2.png) fixed;
    color: white;
}

h1 {
    text-align: center;
    color: white;
}

#liste,
#text {
    background: rgba(245, 239, 239, 0.5);
}

.sujet,
.commentaire,
.synthese,
.date,
.lien,
.label {
    text-decoration: underline;
    font-weight: bold;
}